// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../app";

//tabs
@import "../pages/cart/cart";
@import "../pages/category/category";
@import "../pages/my/my";
@import "../pages/order/order";
@import "../pages/noLoggedIn/noLoggedIn";

// pages
@import "../pages/login/login";
@import "../pages/register/register";

//components
@import "../components/topCategory/topCategory.component";
@import "../components/categoryInfo/categoryInfo.component";
@import "../components/numberInput/numberInput.component";



//给ion-avatar增加边框，改变大小。
ion-avatar{
  border:1px solid #dedede;
  border-radius:5px;
  img{
    max-width:6rem;
    max-height:6rem;
  }
}
