.cart-item{
  border-bottom:1px solid #dedede;
  .item-inner{
    border-bottom:0px;
  }
  ion-label{
    p{
      color:red;
      display: inline-block;
      line-height:4rem;
    }
    span{
      display:flex;
    }
  }
  .ry-number-input{
    float:right;
    margin-top:1rem;
  }
  ion-checkbox{
      margin-right: 20px;
  }
}

.cart-toolbar{
  padding:0px;
  height:5.6rem;
  .toolbar-content{
    height:100%;
  }
  p{
    display: inline-block;
    width:60%;
    margin: 0;
    margin-top: 1.7rem;
    margin-left:1rem;
    // float: left;
  }
  button{
    display: inline-block;
    margin:0;
    width:30%;
    height:100%;
    float:right;
  }
  strong{
    color:red;
  }
}
